html, body {
	height: 100%;
}

/*body {
	margin: 0px;
	padding: 0px;
	background: #E0EBAD;
	font-family: 'Times New Roman', sans-serif;
	font-size: 15px;
	color: #000000;
}*/

h1, h2, h3 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: 500;
}

h2 {
	padding: 0px 0px 20px 0px;
	font-size: 1.50em;
}

p, ol, ul {
	margin-top: 0px;
}

p {
	line-height: 180%;
}

strong {
	color: #2C2C2C;
}

a {
	color: #2C2C2C;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

img.border {
}

img.alignleft {
	float: left;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

hr {
	display: none;
}

/** WRAPPER */

/*#wrapper {
	overflow: hidden;
	width: 1200px;
	margin: 50px auto;
	background: #ffffff;
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,.2);
}*/

#Mainwrapper {
	overflow: hidden;
	width: 1200px;
	margin: 50px auto;
	background: #ffffff;
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,.2);
}

.container {
	width: 1200px;
	margin: 0px auto;
}

.clearfix {
	clear: both;
}

/** HEADER */

#header {
	overflow: hidden;
	height: 150px;
	/*background: #FFFFFF;*/
	background: #FFFFFF;
}
#Mainheader {
	overflow: hidden;
	height: 150px;
	background: #FFFFFF;
	/*background: #0b532d;*/
}

/* Logo */


#logo
{
	float: left;
	width: 250px;
	 /*padding: 40px 0px 0px 50px;*/

	padding: 46px 0px 0px 50px;
	
}
#logo_text {
float: left;
	width: 600px;
	height:900px;
		 /*padding: 40px 0px 0px 50px;*/
	padding: 57px 0px 0px 117px;

}
#logo_head {
float: left;
	width: 250px;
	 /*padding: 40px 0px 0px 50px;*/

	padding: 40px 0px 0px 42px;

}
#logo1
{
	float: left;
	width: 600px;
	height:900px;
		 /*padding: 40px 0px 0px 50px;*/
	padding: 60px 0px 0px 80px;


}

#logo h1
{
	padding: 5px 10px 0px 0px;
}

#logo h1 a
{
	text-decoration: none;
	font-size: 1.5em;
	font-weight: 300;
	color: #FFFFFF;
}

#logo p
{
	display: block;
	margin-top: -10px;
	padding: 0px 0px 0px 0px;
	letter-spacing: 1px;
	font-size: 1.2em;
	color: #FFFFFF;
}

#logo p a
{
	color: #FFFFFF;
}

/* Menu */

#menu
{
	float: right;
	width: 750px;
	padding: 60px 50px 0px 0px;
}

#menu1
{

  background-color: #d8d8d8;

padding: 20px 0px 0px 1000px;
 width: 200px;
margin: 0px;
}

#menuSubMenu
{
	 /*background-color: #696969;*/

	  background-color: #0B532D;
	  
    list-style: none;
     
       margin: 0px;
        /*width: 950px;*/
    width: 950px;
 
  /*padding: 10px 0px 0px 660px;*/
padding: 2px 0px 0px 600px;


 
}

#HeaderBar
{
	 /*background-color: #696969;*/

	  background-color: #E0EBAD;
    list-style: none;
     
       margin: 0px;
        /*width: 950px;*/
    width: 400px;
    height:30px;
 
  /*padding: 10px 0px 0px 660px;*/
padding: 2px 0px 0px 600px;


 
}

#menuSubMenu1
{
	 background-color: #DEB887;
    list-style: none;
     
       margin: 0px;
    width: 350px;


	padding: 10px 0px 0px 850px;

 
}

#Divlogout
{
	float: left;
	
 /*	padding: 100px 50px 0px 0px;*/
	padding: 60px 0px 0px 0px;
}

#Divlogout1
{
	float: right;
	width: 100px;
 /*	padding: 100px 50px 0px 0px;*/
	padding: 120px 0px 0px 0px;
}

#menu ul
{
	float: right;
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li
{
	float: left;
}

#menu a
{
	display: block;
	margin-left: 1px;
	padding: 7px 0px 7px 30px;
	letter-spacing: 1px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 300;
	color: #FFFFFF;
}

#menu a:hover, #menu .current_page_item a
{
	text-decoration: none;
	border-radius: 5px;
	color: #FFFFFF;
}

/** PAGE */
#pageMain {
	overflow: hidden;
	width: 1100px;
	margin: 0px 50px;
	padding: 50px 0px;
	border-bottom: 1px solid #DEDEDE;
}
#page {
	overflow: hidden;
	width: 1100px;
	margin: 0px 50px;
	padding: 50px 0px;
	/*border-bottom: 1px solid #DEDEDE;*/
			/*border-bottom: 1px solid #0B532D;*/
}

#page h2 {
}

/** CONTENT */

#content {
	float: left;
	width: 750px;
}

#content h2 {
	font-size: 2.10em;
}


/** SIDEBAR */

#sidebar {
	/*float: left;*/
		float: left;
	width: 300px;
}

/* Footer */

#footer {
	overflow: hidden;
	margin: 0px 50px;
	padding: 30px 0px;
	border-top: 5px solid #000000;
}

#footer p {
	text-align: center;
}

#footer a {
	color: #000000;
}

/* Three Column */

#three-column {
	overflow: hidden;
	margin: 0px 50px;
	padding: 50px 0px;
}

#three-column #tbox1 {
	float: right;
	width: 300px;
	margin-right: 100px;
}

#three-column #tbox2 {
	float: left;
	width: 400px;
}

#three-column #tbox3 {
	float: right;
	width: 300px;
}

/* List Style 1 */

ul.style1 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style1 li {
	padding: 10px 0px 15px 0px;
	border-top: 1px solid #DEDEDE;
}

ul.style1 a {
	text-decoration: none;
	color: #545454;
}

ul.style1 a:hover {
	text-decoration: underline;
}

ul.style1 .first {
	padding-top: 0px;
	border-top: none;
}


/* List style 2 */

ul.style2 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style2 li {
	padding: 25px 0px 15px 0px;
	border-top: 1px solid #DEDEDE;
}

ul.style2 .first {
	padding-top: 0px;
	border-top: none;
}

ul.style2 h3 {
	padding: 0px 0px 10px 0px;
}

ul.style2 h3 a {
	text-transform: none;
	color: #373737;
}

ul.style2 a {
	text-decoration: none;
	color: #919191;
}

ul.style2 a:hover {
	text-decoration: underline;
}

/* Button Style 1 */

.button-style {
	display: inline-block;
	margin-top: 20px;
	padding: 7px 20px;
	background: #CF4A41;
	border-radius: 5px;
	text-decoration: none;
	text-transform: uppercase;
	color: #FFFFFF;
}




nav {    

  text-align: left;
}


nav ul {
  margin: 0;
  padding:0;
  list-style: none;
}
.nav a {
  display:block; 
  background: #0b532d; 
  /*color: #778899; */
  text-decoration: none;
  
/* padding: 0.1em 0.1em*/
  padding: 0.01em 0.1em;
  
  font-size: 12px;
  letter-spacing: 2px;
  position: relative;
}
.nav{  
  vertical-align: top; 
  display: inline-block;

  border-radius:6px;
}
.nav li {
  position: relative;
  display:inline;
  
}
.nav > li { 
  float: left; 
  border-bottom: 4px #aaa ; 
  margin-right: 1px; 

} 
.nav > li > a { 
  margin-bottom: 1px;
  box-shadow: inset 0 2em .33em -0.5em #555; 

   
}


/*menu item--colour,hover*/
        
        #menuBar a:hover {
 background-color: #4169E1;


}

a:hover {
 background-color: #bbc3cc;


}
.gridViewHeader {

    padding: 40px 50px 4px 4px;
  
  
    border-collapse: collapse;
}
.modelBackground
{
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}

.modelPopup
{
	background-color:#EEEEE;
	border-width:3px;
	border-style:solid;
	border-color:Gray;
	font-family:Verdana;
	font-size:small;
	padding:3px;
	width:450px;
	position:absolute;
	overflow:scroll;
	max-height:400px;
}

.blnkImgCSS
{
	opacity: 0;
	filter: alpha(opacity=0);
}

      .auto-style8 {
          width: 152px;
      }

      .auto-style9 {
          height: 36px;
          width: 131px;
      }
      .auto-style10 {
          height: 36px;
          width: 136px;
      }
      .auto-style11 {
          height: 36px;
          width: 109px;
      }
      .auto-style13 {
          height: 39px;
          width: 129px;
      }

      .auto-style14 {
          height: 36px;
          width: 89px;
      }
      .auto-style15 {
          height: 39px;
      }
 

      